:root {
  --card-width: 25%;
  --color-primary: #ea4646;
  --color-primary-light: #fbcac4;
  --color-secondary: #1b1b33;
  --color-bg: #ffddd5;
  --color-white: #fff;
  --inf: 10000000000px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

.button {
  background-color: transparent;
  font-family: inherit;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  outline: none;
  user-select: none;
  text-align: center;
  text-decoration: none;
}

.root {
  font-family: vdl-megamaru, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.root__game {
  z-index: 0;
  background-color: var(--color-bg);
  min-height: 100vh;
}

.root__table {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.root__header {
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 20px 12px 8px 12px;
  background-color: var(--color-bg);
}

.root__header-text {
  padding: 8px 0 7px;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-white);
  border-radius: var(--inf);
  background-color: var(--color-primary);
  text-align: center;
}

.root__skip-button {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 62px;
  height: 62px;
  border: 2px solid var(--color-primary);
  font-size: 14px;
  border-radius: 100%;
  line-height: 14px;
  color: var(--color-primary);
  padding: 0;
  background-color: #fff;
  text-align: center;
}

.root__skip-button:active {
  background-color: var(--color-primary);
  color: #fff;
}

.root__skip-button.active {
  display: block;
}

.card__container {
  width: var(--card-width);
  padding: 6px;
  box-sizing: border-box;
}

.card {
  position: relative;
  transition: all 0.1s;
}

.card:nth-child(4n) {
  margin-right: 0;
}

.card:active {
  transform: scale(0.95);
}

.card::before {
  content: '';
  display: block;
  padding-top: 127%;
}

.card__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card.front .card__img.front {
  transform: rotateY(0deg);
}

.card.front .card__img.back {
  transform: rotateY(180deg);
}

.card.back .card__img.front {
  transform: rotateY(180deg);
}

.card.back .card__img.back {
  transform: rotateY(0deg);
}

.card__img.front {
  background-color: var(--color-white);
}

.card__img.back {
  background: url('./assets/card_back.svg');
  background-color: var(--color-white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card.clear .card__img {
  background-color: var(--color-primary-light);
}

.card.clover .card__number,
.card.spade .card__number {
  color: var(--color-secondary);
}

.card.heart .card__number,
.card.diamond .card__number {
  color: var(--color-primary);
}

.card__number {
  position: absolute;
  top: 6%;
  left: 17%;
  font-size: 22px;
}

.card__suit {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 47%;
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
}

.modal__window {
  text-align: center;
}

.modal__container {
  width: 70vw;
}

.modal__label {
  font-size: 36px;
  color: var(--color-primary);
  margin-bottom: 8px;
}

.modal__select-wrap {
  margin-bottom: 12px;
}

.modal__button-start {
  color: var(--color-white);
  border: 0;
  border-radius: var(--inf);
  font-size: 14px;
  padding: 6px;
  background-color: var(--color-primary);
  margin-bottom: 20px;
  transition: all 0.1s;
}

.modal__button-start:active {
  transform: scale(0.95);
  opacity: 0.9;
}

.modal__select-title {
  color: var(--color-primary);
  font-size: 12px;
  text-align: left;
}

.modal__button-reset {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 14px;
  padding: 8px;
}

.modal__button-reset:active {
  background-color: var(--color-primary);
  color: #fff;
}

.select {
  display: flex;
}

.select__item:last-child {
  margin-right: 0;
}

.select__item {
  flex-grow: 1;
  border: 1px solid var(--color-primary-light);
  border-radius: var(--inf);
  color: var(--color-primary);
  background-color: var(--color-primary-light);
  font-size: 14px;
  padding: 4px;
  margin-right: 8px;
  transition: all 0.1s;
}

.select__item:active {
  transform: scale(0.95);
  opacity: 0.9;
}

.select__item.active {
  border-color: var(--color-primary);
}

.result {
  margin-bottom: 16px;
}

.result__item {
  display: flex;
  color: var(--color-primary);
}

.result__player {
  flex-basis: 50%;
  text-align: right;
  margin-right: 5px;
}

.result__count {
  flex-basis: 50%;
  text-align: left;
}
