:root {
  --card-width: 25%;
  --color-primary: #ea4646;
  --color-primary-light: #ffdfd5;
  --color-primary-shadow: rgba(234, 70, 70, 0.65);
  --color-secondary: #1b1b33;
  --color-bg: #ffede2;
  --color-white: #fff;
  --inf: 10000000000px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

.button {
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  outline: none;
  user-select: none;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s;
  border: 0;
}

.button:active {
  transform: scale(0.95);
  opacity: 0.9;
}

.root {
  font-family: vdl-megamaru, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.root__game {
  display: none;
  z-index: 0;
  background-color: var(--color-bg);
  min-height: 100vh;
}

.root__game.active {
  display: block;
}

.root__table {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 8px 86px 8px;
}

.root__header {
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 20px 12px 8px;
  background-color: var(--color-bg);
}

.root__header-text {
  padding: 8px 0 7px;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-white);
  border-radius: var(--inf);
  background-color: var(--color-primary);
  text-align: center;
  transition: all 0.1s;
}

.root__footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: -100px;
  padding: 0 12px 8px;
  transition: bottom 0.3s;
}

.root__footer.active {
  bottom: 20px;
}

.root__skip-button {
  border-radius: var(--inf);
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  padding: 8px 0 7px;
  box-shadow: 0 4px 15px var(--color-primary-shadow);
}

.card__container {
  width: var(--card-width);
  padding: 6px;
  box-sizing: border-box;
}

.card {
  position: relative;
}

.card:nth-child(4n) {
  margin-right: 0;
}

.card::before {
  content: '';
  display: block;
  padding-top: 127%;
}

.card__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card.front .card__img.front {
  transform: rotateY(0deg);
}

.card.front .card__img.back {
  transform: rotateY(180deg);
}

.card.back .card__img.front {
  transform: rotateY(180deg);
}

.card.back .card__img.back {
  transform: rotateY(0deg);
}

.card__img.front {
  background-color: var(--color-white);
}

.card__img.back {
  background: url('./assets/card_back.svg');
  background-color: var(--color-white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card.clear .card__img {
  background-color: var(--color-primary-light);
}

.card.clover .card__number,
.card.spade .card__number {
  color: var(--color-secondary);
}

.card.heart .card__number,
.card.diamond .card__number {
  color: var(--color-primary);
}

.card__number {
  position: absolute;
  top: 6%;
  left: 17%;
  font-size: 22px;
}

.card__suit {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 47%;
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__window {
  text-align: center;
}

.modal__label {
  font-size: 36px;
  color: var(--color-primary);
  margin-bottom: 8px;
}

.start-modal {
  background-color: var(--color-bg);
}

.start-modal.reveal-active,
.start-modal.reveal-reset-start {
  opacity: 1;
}

.start-modal.reveal-start,
.start-modal.reveal-reset-active {
  opacity: 0;
}

.start-modal.reveal-active {
  transition-property: opacity;
  transition-duration: 0.3s;
}
.start-modal.reveal-reset-active {
  transition-property: opacity;
  transition-duration: 0.3s;
}

.start-modal__container {
  width: 70vw;
}

.start-modal__select-wrap {
  margin-bottom: 12px;
}

.start-modal__button-start {
  color: var(--color-white);
  border-radius: var(--inf);
  font-size: 14px;
  padding: 6px;
  background-color: var(--color-primary);
  margin-bottom: 20px;
}

.start-modal__select-title {
  color: var(--color-primary);
  font-size: 12px;
  text-align: left;
}

.select {
  display: flex;
}

.select__item:last-child {
  margin-right: 0;
}

.select__item {
  flex-grow: 1;
  border: 1px solid var(--color-primary-light);
  border-radius: var(--inf);
  color: var(--color-primary);
  background-color: var(--color-primary-light);
  font-size: 14px;
  padding: 4px;
  margin-right: 8px;
}

.select__item.active {
  border-color: var(--color-primary);
}

.clear-modal::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-color: var(--color-bg);
}

.clear-modal.reveal-active {
  transform: scale(1);
  opacity: 1;
}
.clear-modal.reveal-reset-start {
  opacity: 1;
}

.clear-modal.reveal-start {
  transform: scale(0.7);
  opacity: 0;
}
.clear-modal.reveal-reset-active {
  opacity: 0;
}

.clear-modal.reveal-active {
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.39, 1.66, 0.3, 1.17);
}
.clear-modal.reveal-reset-active {
  transition-property: opacity;
  transition-duration: 0.3s;
}

.clear-modal__container {
  width: 70vw;
}

.clear-modal__button-reset {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 14px;
  padding: 8px 0 7px;
  border-radius: var(--inf);
}

.clear-modal__display {
  margin-bottom: 16px;
}

.clear-modal__item {
  display: flex;
  color: var(--color-primary);
  align-items: flex-end;
  font-size: 12px;
}

.clear-modal__player {
  flex-basis: calc(50% - 4px);
  text-align: right;
  margin-right: 8px;
  margin-bottom: 6px;
}

.clear-modal__count {
  text-align: left;
  font-size: 20px;
  margin-right: 1px;
}

.clear-modal__mai {
  margin-bottom: 6px;
}

.clear-modal__center {
  display: none;
  position: absolute;
  z-index: -1;
  width: 70vw;
  height: 70vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clear-modal__center.active {
  display: block;
}

.clear-modal.reveal-active .clear-modal__center {
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.39, 1.66, 0.3, 1.17);
  transition-delay: 0.12s;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.clear-modal.reveal-start .clear-modal__center {
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
}

.clear-modal__icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation-name: rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
