:root {
  --card-width: 25%;
}

body {
  margin: 0;
}

.button {
  background-color: transparent;
  font-family: inherit;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  outline: none;
  user-select: none;
  text-align: center;
  text-decoration: none;
}

.root {
  font-family: vdl-logojrblack, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.root__game {
  z-index: 0;
  padding: 4px;
}

.root__game.blur {
  filter: blur(15px);
}

.root__table {
  display: flex;
  flex-wrap: wrap;
}

.root__skip-button {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 62px;
  height: 62px;
  border: 5px solid #d33;
  font-size: 18px;
  border-radius: 100%;
  line-height: 18px;
  color: #d33;
  padding: 0;
  background-color: #fff;
  text-align: center;
}

.root__skip-button:active {
  background-color: #d33;
  color: #fff;
}

.root__skip-button.active {
  display: block;
}

.card {
  position: relative;
  width: var(--card-width);
}

.card:active {
  opacity: 0.8;
}

.card__img {
  display: block;
  width: 100%;
}

.card__clear {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__clear.active {
  display: block;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: #d33 solid 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.modal__window {
  text-align: center;
}

.modal__container {
  width: 70vw;
}

.modal__label {
  font-size: 36px;
  color: #d33;
  margin-bottom: 8px;
}

.modal__button-wrap {
  margin-bottom: 16px;
}

.modal__button-start {
  border: 5px solid #d33;
  color: #d33;
  font-size: 18px;
  padding: 8px;
  background-color: #fff;
}

.modal__button-start:active {
  background-color: #d33;
  color: #fff;
}

.modal__select-title {
  color: #d33;
  font-size: 18px;
}

.modal__button-reset {
  border: 5px solid #d33;
  color: #d33;
  font-size: 18px;
  padding: 8px;
}

.modal__button-reset:active {
  background-color: #d33;
  color: #fff;
}

.select {
  display: flex;
}

.select__item:not(:first-child) {
  border-left: 0;
}

.select__item {
  flex-grow: 1;
  border: 5px solid #d33;
  color: #d33;
  font-size: 18px;
  padding: 8px;
}

.select__item:active {
  background-color: #c11;
  color: #fff;
}

.select__item.active {
  background-color: #d33;
  color: #fff;
}
